<%= form_for(@socio) do |f| %>
<%= f.text_field :nombre, :class => "form-control", :placeholder => "Ingrese Nombre" %>
<%= f.text_field :cedula, :class => "form-control", :placeholder => "Ingrese numero de cedula"  %>
<%= f.text_field :direccion, :class => "form-control", :placeholder => "Ingrese direccion "  %>
<%= f.text_field :telefono, :class => "form-control", :placeholder => "Ingrese telefono"  %>
<%= f.submit :guardar , :class => "btn btn-success btn-sm"  %>		
<% end %>