<div class="well infobox">
	<h4 class="text-center">Lista de Socios</h4>
	<div class="list-group">
		<% @socios.each do |s| %>
		<div class="list-group-item">
			<div class="row-action-primary">
				<i class="mdi-social-person"></i>
			</div>
			<div class="row-content">
				<div class="least-content"><%= link_to "editar", edit_socio_path(s) %></div>
				<h4 class="list-group-item-heading"><%= s.nombre  %></h4>
				<p class="list-group-item-text"><%= s.direccion  %></p>
				<p class="list-group-item-text"><%= s.telefono  %></p>
			</div>
		</div>
		<div class="list-group-separator"></div>
		<% end %>
	</div>
</div>
