<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h3 class="modal-title" id="myModalLabel">Rifa</h3>
</div>
<%= form_for(@rifa, :remote => true) do |f| %>
<div class="modal-body">
  <div class= "field">
    <%= f.label :periodo, "Selecione anio" %><br>
    <%= f.text_field :periodo, :class => "form-control"%>
  </div>
</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
  <%= f.submit 'Guardar', class: "btn btn-primary"%>
</div>
<% end %>



