<%- if @rifa.errors.any? %>
  $('#content_modal').html('<%= escape_javascript(render('form')) %>');
  <%- @rifa.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
  $("#myModal").modal("hide");
  $('body').removeClass('modal-open');
  alertify.success("Almacenado");
<%- end %>
