<h1>Rifas 2015</h1>
<%= link_to 'Nueva Hoja', new_rifa_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal', class: "btn btn-info"}  %>
<% unless @rifa.nil? %>
<table class="table table-striped table-hover ">
	<thead>
		<tr>
			<th>Socio</th>
			<th>Enero</th>
			<th>Febrero</th>
			<th>Marzo</th>
			<th>Abril</th>
			<th>Mayo</th>
			<th>Junio</th>
			<th>Julio</th>
			<th>Agosto</th>
			<th>Septiembre</th>
			<th>Octubre</th>
			<th>Noviembre</th>
			<th>Diciembre</th>
		</tr>
	</thead>
	<tbody>
		<% @grouped.each do |socio, items|  %>
		<tr>
			<th><%= Socio.find(socio).nombre%></th>
			<% items.each do |item| %>
			<% if item.cantidad == 1 %>
				<td class="text-success"><%= item.cantidad %></td>
			<% else %>
				<td id="<%= item.id %>"><%= link_to item.cantidad, item_rifa_pay_path(item), method: :post, :remote => true %></td>
			<% end %>
			<% end %>
			<% end %>
		</tr>
	</tbody>
</table>
<% end %>
