<%- if @item.errors.any? %>
  <%- @item.errors.full_messages.each do |msg|%>
    alertify.error("<%=j msg %>");
  <%- end %>
<%- else %>
$('#<%=@item.id %>').text("1.0");
$('#<%=@item.id %>').addClass("text-success");
  // alertify.success("Pagado");
<%- end %>