.alert{
  position: fixed;
  z-index: 999999;
  width: 300px;
  top: 65px;
  right: 12px;
}

.text-white{
  color: #fff
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.animation-save{
  margin: 60px;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 50% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  * {
    box-sizing: border-box;
  }

  *:focus {
    outline: none;
  }

  .login {
    margin: 20px auto;
    width: 300px;
  }
  .login-screen, .white-backg {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
  }

  .app-title {
    text-align: center;
    color: #3498DB;
  }

  .login-form {
    text-align: center;
  }
  .control-group {
    margin-bottom: 10px;
  }

  .control-group input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 250px;
    transition: border .5s;
  }

  .control-group input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
  }

  .login-form .btn {
    border: 2px solid transparent;
    background: #3498DB;
    color: #ffffff;
    font-size: 16px;
    line-height: 25px;
    padding: 10px 0;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    box-shadow: none;
    transition: 0.25s;
    display: block;
    width: 250px;
    margin: 0 auto;
  }

  .login-form .btn:hover {
    background-color: #2980B9;
  }

  .login-link {
    font-size: 12px;
    color: #444;
    display: block;
    margin-top: 12px;
  }


.client-identicon{ margin-top: 20px;}


.list li {
  border-bottom: 1px solid #ccc;
  display: table;
  border-collapse: collapse;
  width: 100%;
  /*padding: 0 2em 2em 0;*/
  list-style: none;
}
.inner {
  display: table-row;
  overflow: hidden;
}
.li-img {
  display: table-cell;
  vertical-align: middle;
  width: 30%;
  padding-right: 1em;
}
.li-img img {
  display: block;
  width: 100%;
  height: auto;
}
.li-text {
  display: table-cell;
  vertical-align: middle;
  width: 70%;
  padding-right: 1em;
}
.li-head {
  margin: 0;
}
.li-summary {
  display: none;
  margin: 0;
}
.li-action {
  margin: 0;
}

@media screen and (min-width: 40em) {
  .list li {
    background: none;
  }
  .li-summary {
    display: block;
  }
}

@media screen and (min-width: 60em) {
  .list li {
    float: left;
    width: 50%;
  }
  .inner {
    padding-right: 1em;
  }
}


.form-control-border{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 5px;
  padding-left: 5px;
  /*padding-bottom: 3px;*/
}

.input-noborder{
  border: 0;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  padding-top: 8px;
}

.form-control-border:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

/*divs del mismo tamano en una fila*/
.row-fix-div {
    display: table;
}

.row-fix-div [class*="col-"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

