<div class="login">
  <div class="login-screen">
    <div class="app-title">
      <h2>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-cutlery fa-stack-1x fa-inverse"></i>
        </span>
      </h2>
    </div>
    <%= form_tag user_sessions_path do %>
    <div class="login-form">
      <div class="control-group">
        <%= text_field_tag :username, params[:username], :placeholder => "Nombre de Usuario", :required => true, class: "login-field", id: "login-name" %>
        <label class="login-field-icon fui-user" for="login-name"></label>
      </div>
      <div class="control-group">
        <%= password_field_tag :password, "", :placeholder => "Contraseña", class: "login-field",id: "login-pass" %>
        <label class="login-field-icon fui-lock" for="login-pass"></label>
      </div>
      <%= submit_tag "Iniciar sesión", data: {disable_with: "Ingresando"}, class: "btn btn-primary btn-large btn-block" %>
      <a class="login-link" href="#">Olvidastes tu contraseña?</a>
    </div>
  </div>
  <% end %>
</div>
