<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="javascript:void(0)">MEDINAS</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav navbar">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">Socios <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Nuevo', new_socio_path()%></li>
          <li><%= link_to 'Lista', socios_path()%></li>
          <li class="divider"></li>
          <li><%= link_to 'Rifas', rifas_path()%></li>          
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><%=current_user.username %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Perfil', edit_user_path(current_user), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#myModal'}%></li>
          <li class="divider"></li>
          <li><%=link_to("Salir", :controller => 'user_sessions', :action => 'destroy')%></li>
        </ul>
      </li>
    </ul>
  </div>
</div>