<!DOCTYPE html>
<html>
<head>
  <title>Cooperativa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
	<% if current_user %>
	<%= render 'layouts/navbar' %>
	<% else %>
	<div class="hero-unit text-info">
		<h2 class="text-center">Cooperativa</h2>
		<br>
	</div>
	<%end%> 
</header>
<body>
	<div role="main">
		<div class="container">
			<%= render 'layouts/flash' %>
			<%= yield %>
			<%= render 'layouts/modal' %>
		</div>
	</div>
</body>

</html>
